@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --gradient: linear-gradient(45deg, #001fb6, purple, #15027e, rgb(207, 12, 12));
} */

/* body {
  color: #333;
  background: #ddd;
  background-size: 300%;
  background-image: var(--gradient);

  animation: bg-animation 5s infinite;
} */

/* @keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
} */

